.tagList {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  gap: 1.4em;
}

.tag {
  line-height: 1;
  cursor: default;
}

.tagLink {
  line-height: 1;
  text-decoration: underline;
}

.tagLink:hover {
  text-decoration: none;
}
