.footer {
  box-sizing: border-box;
  padding-top: 0.8rem;
  padding-bottom: 2rem;
}

.footerInner {
  max-width: 1024px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .footerInner {
    max-width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.copy {
  text-align: center;
}

.copy * {
  font-size: 0.8rem;
}
