.footer {
  box-sizing: border-box;
  padding-top: 0.8rem;
  padding-bottom: 2rem;
}

.footerInner {
  max-width: 1024px;
  margin: 0 auto;
}

.copy {
  text-align: center;
}

.copy * {
  font-size: 0.8rem;
}
