.title a {
  line-height: 1.6;
  font-weight: 600;
  font-size: 1.6em;
}

.title a:hover {
  text-decoration: underline;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0.4em;
}

.category {
  display: inline-block;
  background-color: #252525;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 4px 6px;
  line-height: 1;
  font-size: 0.8em;
  color: #ededed;
}

.date {
  line-height: 1;
}

.date + * {
  margin-left: 0.6em;
}
