name: develop

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]

env:
  MICROCMS_API_KEY: ${{ secrets.MICROCMS_API_KEY }}
  MICROCMS_SERVICE_DOMAIN: ${{ secrets.MICROCMS_SERVICE_DOMAIN }}

jobs:
  devCheck:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Install mise
        uses: jdx/mise-action@v3
        with:
          experimental: true
          install: false

      - name: Setup Go with mise version
        run: |
          NODE_VERSION=$(mise list node --json | jq -r '.[0].version')
          echo "NODE_VERSION=$NODE_VERSION" >> $GITHUB_ENV

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.GO_VERSION }}
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint
        run: pnpm check

      - name: type-check
        run: pnpm type-check

      - name: Test
        run: pnpm test:run

